<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<style type="text/css">
	body{
		background-repeat: no-repeat;
		background-size: cover;
	}
	#log{

		border-radius: 25px;
		display: table;
		position: absolute;
		top: 25%;
		transform: translateY(-50%);
		left: 50%;
		transform: translateX(-50%);
		margin: 0 auto;
		width: 350px;
		max-width: 100%;
		background-color: rgba(230,230,230,0.8);
		text-align: center;
	}
	#outer{
		/*padding-top: 190px;*/
		position: relative;
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	#email, #password{
		background-color: #ffffff;
		border-radius: 10px;
		width: 300px;
		height: 35px;
		font-size: 24px;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
	}
	#sub{
		border-radius: 10px;
		width: 250px;
		height: 40px;
		font-size: 24px;
		background-color: #c5cdcf;
		color: black;
	}
	#EmailTex, #PasswordTex{
		font-size: 24px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		padding-left: 24px;
	}
	h1 {
		margin:0;
		padding:0;
		height:fixed;
		width:100%;
		text-align:center;
		background-color:#000000;
		color:white;
		font-family:'Hind Madurai', sans-serif;
		font-weight:bold;
		font-size:40px;
		top:0;
		background-size:cover;
	}
	.banner{
		background: black;
	}
	#logo{
		color: white;
		text-decoration: none;
	}
	</style>

</head>
<body>
	<h1>Login</h1>
	<div id="outer">
	<div id="log">
		<%= form_tag '/login' do %>
		  <p><div id="EmailTex">Email</div> <%= email_field_tag :email %> </p>
		  <p><div id="PasswordTex">Password</div> <%= password_field_tag :password %> </p>
		  <p><%= submit_tag "Login",:id=> "sub" %> </p>

		<% end %>
	</div>
	</div>
	<script type="text/javascript">
		var a = [
			"https://upload.wikimedia.org/wikipedia/commons/0/0d/Rakotzbr%C3%BCcke.jpg"/*Liscenced under Creative Commons - see https://commons.wikimedia.org/wiki/File:Rakotzbr%C3%BCcke.jpg*/,
			"http://www.publicdomainpictures.net/pictures/240000/velka/scenic-landscape-1507476866DSn.jpg"/*Liscenced under Creative Commons - CC0*/,
			"http://www.publicdomainpictures.net/pictures/50000/velka/the-scenic-route.jpg"/*Liscenced under Creative Commons - CC0*/,
			"https://upload.wikimedia.org/wikipedia/commons/3/33/Scenic_View_%40_Park_View_Hotel_%E2%80%93_Hualien%2C_Taiwan_%283981419562%29.jpg"/*Liscenced under Creative Commons - see https://commons.wikimedia.org/wiki/File:Scenic_View_@_Park_View_Hotel_%E2%80%93_Hualien,_Taiwan_(3981419562).jpg*/
			]
		document.body.style.backgroundImage = `url(${a[Math.ceil(Math.random()*10000)%a.length]})`;
	</script>
</body>
</html>


