<!DOCTYPE html>
<html>
<head>
	<title><%= @user.username%>'s profile</title>
	<style type="text/css">
	body{
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/51/Study_%2816840395246%29.jpg");/*Creative Commons - see https://commons.wikimedia.org/wiki/File:Study_(16840395246).jpg*/
	}
	#welcome{
		background: rgba(255,255,255,0.5);
		width: 500px;
		height: 30px;
		vertical-align: middle;
		text-align: center;
		border-radius: 5px;
		margin-right: auto;
		margin-left: auto;
	}
	#welcomeText{
		width: 500px;
		height: 26px;
		vertical-align: middle;
		text-align: center;
	}
	</style>
</head>
<body>
	<% if @user.created_at.to_date == Date.current %> 
	<header>
		<h1>
			<%= @user.username %>'s homepage <br>
		</h1>
	</header>

	<div id="welcome">
		<table><tr><td id="welcomeText">
		Welcome to AutoCalendar. More stuff will be added here in the future.
		</table></td></tr>
	</div>

	<% else %>
	<header>
		<h1>
			<%= @user.username %>'s homepage <br>
		</h1>

	</header>
	<div id="welcome">
		<table><tr><td id="welcomeText">
		Welcome back. More stuff will be added here in the future.
		</table></td></tr>
	</div>
	
	<% end %>
</body>
</html>


