<title>About</title>

<p class="head">Click for Application Mockups:</p>

<br>


<p1 id="events">
	<a href = "https://raw.githubusercontent.com/richardz47/Cmpt-276-Group-Project/v3/app/assets/images/Capture.png">
	Public event 
	</a>
</p1>
<br>
<br>
<p2 id="conversation">
	<a href = "https://raw.githubusercontent.com/richardz47/Cmpt-276-Group-Project/v3/app/assets/images/Capture2.png">
	Chat window  
	</a>
</p2>


<style>

.head{
	font-size: 30px;
	font-family: 'Hind Madurai', sans-serif;
}

#events,#conversation{
	font-family: 'Hind Madurai', sans-serif;
	align-items: center;
	font-size: 30px;

}

#conversation a{
	text-decoration: none;
	align-items: center;
	border: black solid;
	border-radius: 10px;
	text-decoration: none;
	margin-left: 20px;
	color: rgb(0,153,51);

}
#events a{
	align-items: center;
	border: black solid;
	border-radius: 10px;
	text-decoration: none;
	margin-left: 20px;
	color: rgb(0,153,51);
}



