<!DOCTYPE html>
<html>
<h1>AutoCalendar</h1>

	<body>
		<p>
		<%= link_to("sign up", 
		{:controller => 'users',
		:action => 'new'}) %>
		</p> 
		<p>
		<%= link_to("login", 
		{:controller => 'users',
		:action => 'new'}) %>
		</p>
	</body>
</html>
