<!DOCTYPE html>
<html>
<h1>AutoCalendar</h1>

	<body>
		<p>
		<%= link_to("Sign up", 
		{:controller => 'users',
		:action => 'new'}) %>
		</p> 
		<p>
		<%= link_to("Log in", 
		{:controller => 'sessions',
		:action => 'new'}) %>
		</p>
	</body>
</html>
