<!DOCTYPE html>
<html>
<h1>AutoCalendar</h1>

	<body>
	<% if !(logged_in?) %>
		<p>
		<%= link_to("Sign up", 
		{:controller => 'users',
		:action => 'new'}) %>
		</p> 
		<p>
		<%= link_to("Log in", 
		{:controller => 'sessions',
		:action => 'new'}) %>
		</p>
	<% else %>
	<p> Already logged in, so nothing should display here. </p>
	<% end %>
	</body>
</html>
