// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background{
    background: url("images/laptop.jpeg");
    margin: 0;
    padding: 0;
    height: fixed;
    width: 100%;
    top: 0;
    background-size: cover;
  }

#wrap{
		/*padding-top: 190px;*/
		position: relative;
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
  	}
#outter{
		border-radius: 25px;
		display: table;
		position: absolute;
		top: 25%;
		transform: translateY(-50%);
		left: 50%;
		transform: translateX(-50%);
		margin: 0 auto;
		width: 350px;
		max-width: 100%;
		background-color: rgba(230,230,230,0.6);
		text-align: center;
}

.banner{
	background: black;
}

#sub{
	border-radius: 10px;
	width: 250px;
	height: 40px;
	font-size: 24px;
	background-color: #c5cdcf;
	color: black;
}

#error_explanation{
   font-family: 'Hind Madurai', sans-serif;
   background-color: rgba(0,0,0,0.6);;
   color: white;
}

div.email>input, div.name>input{
		background-color: #ffffff;
		border-radius: 10px;
		width: 300px;
		height: 35px;
		font-size: 24px;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
}
div.t2, div.t1, div.t3, div.t4, div.t5{
		font-size: 24px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		padding-left: 24px;
}
div.t6{
 font-size:17px;
 font-family:Arial, Helvetica, sans-serif;
 text-align:left;
 padding-left:15px;
}
div.start>select,div.end>select,div.location>input,div.choice>select,div.name>select{
 background-color:#ffffff;
 border-radius:5px;
}

.banner>a::after{
  content: "   . .";
  color: black;
}
.banner>a::before{
  content: "   . .";
  color: black;
}
.banner>a {
 color:white;
 font-family:'Hind Madurai', sans-serif;
 text-decoration:none
}
