// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,h1{
	overflow-x: hidden;	
}
#logo{
	color: white;
	font-family: 'Hind Madurai', sans-serif;
	text-decoration: none;
}
.banner{
		background: black;
	}
h1{
	margin: 0;
	padding: 0;
	height: fixed;
	width: 100%;

	text-align: center;
	background-color: #000000;
	color: white;
	font-family: 'Hind Madurai', sans-serif;
	font-weight: bold;
	font-size: 40px;
	top: 0;
	background-size: cover;
}

body,html,#slider,.wrap,.slideContent
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.wrap{
	position:relative
}

.slide{
	height:100%;
	width:100%;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide1{
	background-image: url('https://static.pexels.com/photos/297755/pexels-photo-297755.jpeg');
}
.slide2{
	background-image: url('https://static.pexels.com/photos/386009/pexels-photo-386009.jpeg');
}
.slide3{
	background-image: url('https://static.pexels.com/photos/551852/pexels-photo-551852.jpeg');
}


.slideContent{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: cneter;
	text-align: center;
}

.span1{
	font-family: 'Hind Madurai', sans-serif;
	color: rgb(0,0,0);
	font-size: 40px;
}

.span2{
	font-family: 'Hind Madurai', sans-serif;
	color: rgb(255,255,255);
	font-size: 40px;
}


.arrow{
	cursor:pointer;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 0;
	height: 0;
	border-style: solid;
}

#arrowL{
	border-width: 30px 40px 30px 0;
	border-color: transparent white transparent transparent;
	left: 0;
	margin-left: 20px;
	opacity:0.4;
	transition: opacity 0.1s linear;
}

#arrowR{
	border-width: 30px 0 30px 40px;
	border-color: transparent transparent transparent white;
	right: 0;
	margin-right: 20px;
	opacity:0.4;
	transition: opacity 0.1s linear;
}
#arrowR:hover, #arrowL:hover{
	opacity: 1;
}
#wrapper_signup{
	border:thick black solid;
	border-radius: 20px;
	width: 200px;
	margin:30px auto 0 auto;
	height: 55px;
	overflow: hidden;
}

.signup:hover{
	margin-top:-55px;
	transition: 0.5s;
}
.signup a{
   text-decoration: none !important;
   text-align: center;
   line-height:px;
   color: rgb(0,0,0);
   border: transparent;
   border-radius: 20px;
}
.signup_duo a{
   text-decoration: none !important;
   text-align: center;
   line-height:px;
   color: rgb(0,153,51);
   border: transparent;
   border-radius: 20px;
}




#wrapper_login{
	border:thick black solid;
	border-radius: 20px;
	width: 200px;
	margin:30px auto 0 auto;
	height: 55px;
	overflow: hidden;
}

.login:hover{
	margin-top:-55px;
	transition: 0.5s;
}
.login a{
   text-decoration: none !important;
   text-align: center;
   line-height:px;
   color: rgb(0,0,0);
   border: transparent;
   border-radius: 20px;
}
.login_duo a{
   text-decoration: none !important;
   text-align: center;
   line-height:px;
   color: rgb(0,153,51);
   border: transparent;
   border-radius: 20px;
}



#wrapper_Explore{
	border-style:solid;
	border-width:3px;
	border-color:rgb(102,0,255);
	border-radius: 20px;
	width: 400px;
	margin:30px auto 0 auto;
	height: 55px;
	overflow: hidden;
}
.Explore:hover{
	margin-top:-55px;
	transition: 0.5s;
}
.Explore a{
   font-family: 'Hind Madurai', sans-serif;
   font-size: 40px;
   text-decoration: none !important;
   text-align: center;
   line-height:px;
   color: rgb(102,0,255);
   border: transparent;
   border-radius: 20px;
}
.Explore_duo a{
   font-family: 'Hind Madurai', sans-serif;
   font-size: 40px;
   text-decoration: none !important;
   text-align: center;
   line-height:px;
   color: rgb(0,153,51);
   border: transparent;
   border-radius: 20px;
}










